@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600&family=Montserrat:wght@300;400;500;600&display=swap");

:root {
  --primary-font: "Montserrat", sans-serif;
  --secondary-font: "Fira Code", monospace;
  --bg-color: #0f1624;
  --primary-text-color: #e5ebff;
  --secondary-text-color: #7d8eaf;
  --primary-color: #64ffda;
  --secondary-color: #00bfff;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--primary-font);
  font-size: 14px;
  color: white;
}
